header {
  box-shadow: 0 10px 0 rgba(0, 0, 0, .38);
  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    > ul {
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
.nav-item a{
  padding: .618em 1em;
  margin: 0 .382em;
  font-size: 1.2em;
  font-weight: 700;
  color: $white;
  text-decoration: none;
  border-radius: 22px;
  &:hover {
    background-color: darken($orange, 10)
  }
  &.active, &.active:hover {
    background-color: $body;
    color: $orange;
  }
}
.app-logo {
  &.-nav {
    height: 86px;
    width: auto;
  }
}
a.search-icon {
  margin-right: 1em;
}