#main {
  background-color: $body;
}
.page-header {
  text-align: center;
  width: 83.2%;
  margin: .618em 0 1em 0;
  > .title {
    text-align: center;
    line-height: 1.2em;
  }
  > .subtitle {
    font-size: 1.618em;
    font-weight: 300;
  }
}

.filter-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  font-size: 1.618em;
  color: $white;
  padding: .382em;
  outline: none;
}

.select-input {
  border: 0;
  margin-left: .618em;
  color: $white;
  background-color: transparent;
  border-radius: 0;
  outline: none;
}